<div>
  <h2>Accessibility</h2>
</div>
<c-row>
  <c-col xs="8" lg="4">
    <c-card class="mb-4">
      <c-card-header >
        <h5>RRC Setup Access Rate</h5>
      </c-card-header>
      <c-card-body>
        <c-chart type="doughnut" [data]="chartDoughnutData"></c-chart>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="8" lg="4">
    <c-card class="mb-4">
      <c-card-header>
        <h5>Setup Access Rate</h5> 
      </c-card-header>
      <c-card-body>
        <c-chart type="doughnut" [data]="chartDoughnutData"></c-chart>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="8" lg="4">
    <c-card class="mb-4">
      <c-card-header>
        <h5>Call Setup Success Rate</h5>
      </c-card-header>
      <c-card-body>
        <c-chart type="doughnut" [data]="chartDoughnutData"></c-chart>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>


<div>
  <h2>Traffic</h2>
</div>
<c-row>
  <c-col xs="8" lg="4">
    <c-card class="mb-4">
      <c-card-header >
        <h5>total Number Of Radio Bearer</h5>
      </c-card-header>
      <c-card-body>
        <c-chart type="doughnut" [data]="chartDoughnutData"></c-chart>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="8" lg="4">
    <c-card class="mb-4">
      <c-card-header>
        <h5>Total UL Traffic Volume</h5> 
      </c-card-header>
      <c-card-body>
        <c-chart type="doughnut" [data]="chartDoughnutData"></c-chart>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="8" lg="4">
    <c-card class="mb-4">
      <c-card-header>
        <h5>Total DL Traffic Volume</h5>
      </c-card-header>
      <c-card-body>
        <c-chart type="doughnut" [data]="chartDoughnutData"></c-chart>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<div>
  <h2>Retainability</h2>
</div>
<c-row>
  <c-col xs="8" lg="4">
    <c-card class="mb-4">
      <c-card-header >
        <h5>Call Drop Rate</h5>
      </c-card-header>
      <c-card-body>
        <c-chart type="doughnut" [data]="chartDoughnutData"></c-chart>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="8" lg="4">
    <c-card class="mb-4">
      <c-card-header>
        <h5>Minutes Per Drop</h5> 
      </c-card-header>
      <c-card-body>
        <c-chart type="doughnut" [data]="chartDoughnutData"></c-chart>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>  


<div>
  <h2>Integrity</h2>
</div>
<c-row>
  <c-col xs="8" lg="4">
    <c-card class="mb-4">
      <c-card-header >
        <h5>Mean UL Thoughput</h5>
      </c-card-header>
      <c-card-body>
        <c-chart type="doughnut" [data]="chartDoughnutData"></c-chart>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="8" lg="4">
    <c-card class="mb-4">
      <c-card-header>
        <h5>Mean DL Thoughput</h5> 
      </c-card-header>
      <c-card-body>
        <c-chart type="doughnut" [data]="chartDoughnutData"></c-chart>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>  



<div>
  <h2>Mobility</h2>
</div>
<c-row>
  <c-col xs="8" lg="4">
    <c-card class="mb-4">
      <c-card-header >
        <h5>Infra-Frequency Handover Out Success Rate</h5>
      </c-card-header>
      <c-card-body>
        <c-chart type="doughnut" [data]="chartDoughnutData"></c-chart>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>