<div class="row">
  <div calss="col-md-4"> 
    <h3>Ajouter une formule</h3>
    <div class="outerDivc">
      <div calss="row">
          <div calss="col-md-4">
            <label>Nom du KPI</label>
          </div>
      <div calss="col-md-4">
          <input type="text" class="form-control"/>
      </div> 
        <div calss="row" >
          <div class="col-md-12">
            <label>Formule</label>
            <textarea rows="10" class="form-control"></textarea>
          </div>
        </div> 
        <div calss="row" >
          <div class="col-md-6 text-end">
                <button class="btn btn-secondary btn-sm mx-2" >Valider</button>
                <button class="btn btn-secondary btn-sm">Annuler</button>
          </div>
        </div>
    </div>
  </div> 
  <div class="col-md-8">
    <h3>Compteurs</h3>
    <div class="col-md-6">
         <select class="form-control">
           <option>Choisir</option>
           <option>InterF.HOOutAttempt</option>
           <option>HOInSuccess</option>
           <option>HOInAttempt</option>
           <option>Total downlink traffic volume at the PDCP layer</option>
           <option>CellDLTrafficVolume</option>
           <option>CellDLTransferTime</option>
           <option>CellULTrafficVolume</option>
           <option>CellULTransferTime</option>
           <option>RRCConnectionSuccessService</option>
         </select>
         <div calss="row" >
          <div class="col-md-6 text-end">
                <button class="btn btn-secondary btn-sm mx-2" >Ajouter la formule</button>
                <button class="btn btn-secondary btn-sm mx-2">%</button>
                <button class="btn btn-secondary btn-sm mx-2">+</button>
                <button class="btn btn-secondary btn-sm mx-2">*</button>
                <button class="btn btn-secondary btn-sm mx-2">/</button>
                <button class="btn btn-secondary btn-sm mx-2">[</button>
                <button class="btn btn-secondary btn-sm mx-2">]</button>
                
          </div>
         </div> 
         
  </div>
    </div>  
  </div>  

  


